@charset "UTF-8";
#popup_container{width:450px;padding:0;border:5px solid #0e79a7;background:#fff;font:70% normal Arial, Verdana, Helvetica, sans-serif;color:#555656;text-align:left}
#popup_title{width:auto;float:none;margin:15px;padding:0 0 2px;background:transparent url(../../img/css/portal/puntosH_1.gif) repeat-x 0 100%;font:bold 1.3em Arial;color:#0073b8}
#popup_content{width:100%;float:left;padding:15px 0 !important;padding-bottom:5px;background: transparent url(../../img/css/portal/alertInfo.gif) no-repeat 25px 0}
	#popup_content.alert {background-image: url(../../img/css/portal/alertWarning.gif)}
	#popup_content.confirm {background-image: url(../../img/css/portal/alertImportant.gif)}
	#popup_content.prompt {background-image: url(../../img/css/portal/alertHelp.gif)}
#popup_message{width:100%;float:left;min-height:70px !important;height:auto !important;height:70px}
#popup_message ul{margin:0;padding:0 15px 15px 110px}
#popup_panel{float:left;margin:0 0 0 190px;display:inline;padding:0;background:#e16114 url(../../img/css/portal/alertBotonIzda.gif) no-repeat 0 0}
#popup_panel input{display:block;width:auto;margin:0;padding:7px 5px 5px;border:0;background:transparent url(../../img/css/portal/alertBotonDcha.gif) no-repeat 100% 0;text-align:center;color:#fff;font-size:1.1em;cursor:pointer;outline:none}
*>/**/#popup_panel input{padding:8px 13px 5px}