@charset "UTF-8";
#navegacion{margin-bottom:20px}
.dimensioncuerpo{background:#E8E5E0}
#recurso{width:100%;float:none;/*padding:0;margin:0;border:0*/}
#envoltura{background-image:none}

#a_error, #a_error404{width:auto;float:none;margin-left:20.8em}
#errorejecucion{background:transparent url(../../img/css/portal/pixel.gif) repeat-y 0 0}

/* addthis */
.addthis{width:99%;float:left;position:relative;display:block;text-align:right}
.addthis a{position:absolute;top:-2em;right:0}

/* caja para encuesta */
.encuesta h2{background:transparent url(http://www.uca.es/recursos/img/Formulario_portal/392072744_2052010165919.gif) no-repeat 95% 0}