@charset "UTF-8";
#a_carruseldifdestacadoshome{width:100%;float:left;height:300px !important;margin:0 auto;position:relative;background:#000}

#a_carruseldifdestacadoshome ul.bjqdds{height:300px !important;margin:0}
#a_carruseldifdestacadoshome ul.bjqdds li{width:100%;height:300px;padding:0;background:none}
#a_carruseldifdestacadoshome ul.bjqdds li img{display:block}

#a_carruseldifdestacadoshome ul.bjqdds li .info{width:200px;height:250px;padding:25px;position:absolute;top:0;right:0;background:#E57200;color:#fff;font-size:.95em}
#a_carruseldifdestacadoshome ul.bjqdds li .info h2{color:#fff;font-size:1.3em;font-weight:bold;padding:0 0 10px;background:none;line-height:1.2em}
#a_carruseldifdestacadoshome ul.bjqdds li .info p{line-height:1.3em}
#a_carruseldifdestacadoshome ul.bjqdds li .info a{color:#fff}

.video-wrapper{padding:5px 40px}

/* modificacion del plugin */
#a_carruseldifdestacadoshome ul.bjqdds-controls li a.bjqs-next{right:250px}

#a_carruseldifdestacadoshome ol.bjqdds-markers{width:227px;bottom:14px;left:auto;right:0;}
#a_carruseldifdestacadoshome ol.bjqdds-markers li{padding-right:5px;text-indent:-9999px}
#a_carruseldifdestacadoshome ol.bjqdds-markers li a{width:12px;height:11px;background:transparent url(../../js/comunes/basicSlider/img/pag.png) no-repeat 0 0}
#a_carruseldifdestacadoshome ol.bjqdds-markers li.active-marker a{background-image:url(../../js/comunes/basicSlider/img/pagActive.png)}

