@charset "UTF-8";
#errorejecucion{clear:both;margin:0;padding:30px 0 0 20px;height:auto !important;min-height:500px !important;height:500px}
#errorejecucion p.info{margin:0 0 5px;color:#123645;font-weight:normal;font-size:1.5em}
#errorejecucion p{color:#de6c10;font-weight:bold}