@charset "UTF-8";
#encabezado, #navegacion, #navegacion2, #compas, #atajo, #pie, #infofoto{display:none;}

body{height:auto;background:transparent;height:auto}
#contenedorcuerpo{width:auto;margin:0}
.dimensioncuerpo{max-width:none !important;width:100% !important;background:transparent}

#envoltura{background:transparent}
#situacion, #recurso{width:95%;float:none}
#pactivo{margin:0;padding:10px 0 !important}

/*QUITAR ANCHO, ALTO, FLOAT, OVERFLOW, FONDOS*/
#envoltura, .modulohome, .modulo1, .modulo2, .modulo3, .modulo4, .modulocentro, .destacados, .enlaces, 
.enlace, .banner, .encuesta, .infoadicional, .residencias .grupo, .moduloboletin, .directorio, .universidades, 
.ucatv, .datoscontacto, .moduloapli, .cajaboletin, .modulo100, .listado_tipo1, #a_calendario, .adestacada, #a_videos .paginacion,
.cajafondo, #a_directorio, .cajapestanas .ficha_tipo2, .cajapestanas{width:auto;float:none;overflow:visible}

.modulohome .moduloizda, .modulohome .modulodcha, .moduloizda, .modulodcha, .decoracion, .contenedor{min-height:1em !important;height:auto !important;height:1em}
.item2, .honoris .cajafondo, .moduloizda, .modulodcha, .decoracion, .contenedor, .bloquesubhome .item, .residencias .info, #a_mapaweb li{padding-bottom:0;margin-bottom:0}

.residencias, .infovideo, .subirarchivos, .reproductor .esdcha, .reproductor .esizda, .categorias{background:transparent}
.tablacontainer{float:none}

/*PLANTILLAS*/
.modulohome .moduloflash{display:none}
.modulohome .moduloizda{width:73%}
.modulohome .info{float:none}

.modulohome .dcha{width:50%;}
.modulohome .izda{width:48%;float:left;margin-right:0}

.bloquesubhome .item{border-bottom:1px solid #CBCACC}
.contenedor {margin-left:0}
.infdcha .cont{border:0}
.contenedor .moduloizda{width:50%}
.info div.conimg{margin-left:0;clear:left}
.directorio .item{border-bottom:0}

/*COMUNES*/
.form_tipo2 label input, .form_tipo2 label select, .form_tipo2 label textarea{border:1px solid #7a7c7f}
.paginacion, .listado_tipo1 li{float:none}
.ficha_tipo1 .img{overflow:hidden}

/*APLICACIONES*/
#a_mapaweb ul, #a_mapaweb li{width:100%;float:none}
*>/**/#a_mapaweb ul, *>/**/#a_mapaweb li, .info ul, .info li{float:left}

/*areadestacada*/
#a_calendario, #a_calendariodossier, .info li, .leyenda ul, .leyenda p, .info p.vertodos, .leyenda, .cajacalendario{width:auto;float:none}

#a_enviarpagina, #a_documento{margin-left:0}
#a_videos .paginacion{display:block}

/*tienda online*/
#a_tiendaonline, #productos, #carrito{float:none;margin:0;position:static}
#a_tiendaonline .cajapestanas{padding:0;background:transparent;border:0}
#productos .moduloizda, #productos .modulodcha{padding-top:0 !important}
#productos .bloque{border:0}

.paginacion{float:none}
#a_tiendaonline .infotienda{float:none;padding:0;background:transparent}
#a_tiendaonline .listado_tipo4 ul{float:none;clear:both}
#a_tiendaonline .listado_tipo4 li, img.nuevo{position:static}
#a_tiendaonline .listado_tipo4 li{padding:10px 0;}
#a_tiendaonline img.nuevo{float:left}
#a_tiendaonline .precio{background:transparent;padding:5px !important;color:#04678e}
#a_tiendaonline .adjunta{display:block;clear:both}
#carrito h3{clear:both}