@charset "UTF-8";
@import "plantillasPerso.css";

/* ------ */
.modulo100{width:100%;float:left;}

.img_Sin{float:none;margin:0;}
.img_Sin_L{float:left;margin:5px 12px 7px 0;}
.img_Sin_R{float:right;margin:5px 0 5px 10px;}
.img_Con, .img_Con_L, .img_Con_R{padding:0;border:3px solid #e8e5e0;}
.img_Con{margin:0;}
.img_Con_L{float:left;margin:5px 10px 5px 0;}
.img_Con_R{float:right;margin:5px 0 5px 10px;}

.hrtipo1, .hrtipo2{width:100%;clear:both}
hr.tipo1, hr.tipo2{clear:left}
*>/**/hr.tipo1, hr.tipo2{float:left;margin-bottom:10px}
hr.tipo2{color:#f7921f;background:#f7921f}

ul.tipo2{}
ul.tipo2 li{background-image:url(../../img/css/iconos/icono3.gif)}

/* anclas */
a.ancla_destino{position:absolute;visibility:hidden}
a.ancla_origen{text-decoration:underline;}
/* enlaces */
/* cuando enlazo un contenido sin seleccionar ningún texto */ a.enlace_interno{}
/* enlace de tipo correo */ a.enlace_email{}

h2.tipo2{font-size:1.2em}
h3.tipo2, h4.tipo2, h5.tipo2, h6.tipo2{color:#de6c10}

div:after{clear:both;display:block;content:'&nbsp;';height:0px;visibility:hidden;}